.patch{
	display: flex; 
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;

}


.canvas{

	order: 1;
	margin: 5px;
}

.label {
	order: 2;
	margin: auto;
	flex-grow: 2;
	text-align: end;

}

.labelInput {

	order: 3;
	margin: auto;
    max-width: 50px;
}

.deleteButton{

	order: 4;
	margin: auto;
}



.active {
	background: rgba(0,0,1,0.2);
}


canvas{
	height:40px;
	max-width: 100px;
}