canvas { 
	border: 1px solid #000; 
}


.row:after {
  content: "";
  display: table;
  clear: both;
}

.canvasColumn{
	width: 70%;
	float: left;
}

.labelColumn{
	width: 30%;
	float: left;
}


.listItem {
	padding-top: 10px;
	padding-bottom: 10px;
	border: 1px solid rgba(0,0,0,0.2);
}