canvas { 
	border: 1px solid #000; 
	position: absolute;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}

.canvasColumn{
	width: 70%;
	float: left;
}

.imgCanvasContainer{
	position: relative;
	width: 100%;
}

.imageUnderlay{
	position: absolute;
	width: 100%;
}

.labelColumn{
	width: 30%;
	float: left;
}


.listItem {
	padding-top: 10px;
	padding-bottom: 10px;
	border: 1px solid rgba(0,0,0,0.2);
}


input[type=file]{
	padding:10px;
}

button{
	margin:10px;
}

mat-list-item{
	height: auto;
}

app-patch-detail{
	width: 100%;
}