<div class="row">
	<div class="canvasColumn">
		<div>
			<button mat-raised-button color="primary" (click)="setHorizontalTool()">Horizontal</button>
			<button mat-raised-button color="primary" (click)="setVerticalTool()">Vertical</button>
			<button mat-raised-button color="primary" (click)="createRects()">Create Rects</button>
		</div>
		<canvas id='canvas' #canvas></canvas>
	</div>
	<div class="labelColumn">
		<input #csvFile type='file'>
		<div style="height:90vh; margin: 2em; background: #EFF2F3">
		<ng-scrollbar>
			<div style="display: flex;">
			<mat-list>
				<mat-list-item class="listItem" *ngFor="let patch of patchManager.patches | async">
					<app-patch-detail [patch]="patch"></app-patch-detail>
				</mat-list-item>
			</mat-list>
			</div>
		</ng-scrollbar>
		</div>
	</div>
</div>